@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: Nunito, sans-serif;
  }
  :root {
    /* white background and black text */
    --background: 0 0% 99%;
    --foreground: 60 1% 28%;
    --foreground-bold: 210 10% 16%;

    /* white background and black text */
    --card: 0 0% 100%;
    --card-foreground: 60 1% 28%;

    /* --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%; */

    /*orange background and white text */
    --primary: 35 83% 53%;
    --primary-dark: 35 90% 53%;
    --primary-foreground: 0 0% 99%;

    /* grey background and white text */
    --muted: 212 28% 86%;
    --muted-foreground: 0, 0%, 80%;

    /* --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%; */

    /* --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 340, 100%, 61%;
    --destructive-foreground: 0 0% 98%; */

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    /* --ring: 0 0% 3.9%; */

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.side-scroller::-webkit-scrollbar {
  width: 5px; /* Width of scrollbar */
  height: 5px; /* Height of scrollbar */
}

.side-scroller::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of scrollbar thumb */
  border-radius: 5px; /* Rounded edges for thumb */
}
